*.sw[pon]
*.hi
.cabal-sandbox
cabal.sandbox.config
tutorial.html
preprocessor
*.ll
*.bc
*.s
*.o
*.so
*.pdf
.stack-work
dist-newstyle
stack.yaml.lock
chapter2
chapter3
chapter4
chapter5
chapter6
chapter7
